In [1]:
import numpy as np

In [2]:
data = np.genfromtxt('example_data.csv', delimiter=',', names=True, dtype=None, encoding='UTF',usecols=np.arange(0,1))
data

array([('2018-10-13 11:10:23.560;262km NW of Ozernovskiy',),
       ('2018-10-13 04:34:15.580;25km E of Bitung',),
       ('2018-10-13 00:13:46.220;42km WNW of Sola',),
       ('2018-10-12 21:09:49.240;13km E of Nueva Concepcion',),
       ('2018-10-12 02:52:03.620;128km SE of Kimbe',)],
      dtype=[('timeplacemagTypemagalerttsunami', '<U50')])

In [3]:
data.shape

(5,)

In [4]:
data.dtype

dtype([('timeplacemagTypemagalerttsunami', '<U50')])

In [5]:
%%timeit
max([row[0] for row in data])

3.13 µs ± 21.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [6]:
array_dict = {}
for i, col in enumerate(data.dtype.names):
    array_dict[col] = np.array([row[i] for row in data])

array_dict

{'timeplacemagTypemagalerttsunami': array(['2018-10-13 11:10:23.560;262km NW of Ozernovskiy',
        '2018-10-13 04:34:15.580;25km E of Bitung',
        '2018-10-13 00:13:46.220;42km WNW of Sola',
        '2018-10-12 21:09:49.240;13km E of Nueva Concepcion',
        '2018-10-12 02:52:03.620;128km SE of Kimbe'], dtype='<U50')}

In [7]:
print(array_dict.keys())

dict_keys(['timeplacemagTypemagalerttsunami'])

In [8]:
import pandas as pd

In [9]:
timeplacemagTypemagalerttsunami = pd.Series(array_dict['timeplacemagTypemagalerttsunami'], name='timeplacemagTypemagalerttsunami')
timeplacemagTypemagalerttsunami

0      2018-10-13 11:10:23.560;262km NW of Ozernovskiy
1             2018-10-13 04:34:15.580;25km E of Bitung
2             2018-10-13 00:13:46.220;42km WNW of Sola
3    2018-10-12 21:09:49.240;13km E of Nueva Concep...
4            2018-10-12 02:52:03.620;128km SE of Kimbe
Name: timeplacemagTypemagalerttsunami, dtype: object

In [10]:
timeplacemagTypemagalerttsunami.shape

(5,)

In [11]:
timeplacemagTypemagalerttsunami.dtype

dtype('O')

In [12]:
timeplacemagTypemagalerttsunami.name

'timeplacemagTypemagalerttsunami'

In [13]:
timeplacemagTypemagalerttsunami.values

array(['2018-10-13 11:10:23.560;262km NW of Ozernovskiy',
       '2018-10-13 04:34:15.580;25km E of Bitung',
       '2018-10-13 00:13:46.220;42km WNW of Sola',
       '2018-10-12 21:09:49.240;13km E of Nueva Concepcion',
       '2018-10-12 02:52:03.620;128km SE of Kimbe'], dtype=object)

In [14]:
timeplacemagTypemagalerttsunami_index = timeplacemagTypemagalerttsunami.index
timeplacemagTypemagalerttsunami_index

RangeIndex(start=0, stop=5, step=1)

In [15]:
timeplacemagTypemagalerttsunami_index.values

array([0, 1, 2, 3, 4])

In [16]:
timeplacemagTypemagalerttsunami_index.dtype

dtype('int64')

In [17]:
timeplacemagTypemagalerttsunami_index.shape

(5,)

In [18]:
timeplacemagTypemagalerttsunami_index.is_unique

True

In [19]:
np.array([1, 1, 1]) + np.array([-1, 0, 1])

array([0, 1, 2])

In [20]:
pd.Series(np.linspace(0, 10, num=5)) + pd.Series(np.linspace(0, 10, num=5), index=pd.Index([1, 2, 3, 4, 5]))

0     NaN
1     2.5
2     7.5
3    12.5
4    17.5
5     NaN
dtype: float64

In [21]:
df = pd.DataFrame(array_dict) 

# this will also work with the first representation
# df = pd.DataFrame(data)

df

                     timeplacemagTypemagalerttsunami
0    2018-10-13 11:10:23.560;262km NW of Ozernovskiy
1           2018-10-13 04:34:15.580;25km E of Bitung
2           2018-10-13 00:13:46.220;42km WNW of Sola
3  2018-10-12 21:09:49.240;13km E of Nueva Concep...
4          2018-10-12 02:52:03.620;128km SE of Kimbe

In [22]:
df.dtypes

timeplacemagTypemagalerttsunami    object
dtype: object

In [23]:
df.values

array([['2018-10-13 11:10:23.560;262km NW of Ozernovskiy'],
       ['2018-10-13 04:34:15.580;25km E of Bitung'],
       ['2018-10-13 00:13:46.220;42km WNW of Sola'],
       ['2018-10-12 21:09:49.240;13km E of Nueva Concepcion'],
       ['2018-10-12 02:52:03.620;128km SE of Kimbe']], dtype=object)

In [24]:
df.columns

Index(['timeplacemagTypemagalerttsunami'], dtype='object')

In [25]:
df + df

                     timeplacemagTypemagalerttsunami
0  2018-10-13 11:10:23.560;262km NW of Ozernovski...
1  2018-10-13 04:34:15.580;25km E of Bitung2018-1...
2  2018-10-13 00:13:46.220;42km WNW of Sola2018-1...
3  2018-10-12 21:09:49.240;13km E of Nueva Concep...
4  2018-10-12 02:52:03.620;128km SE of Kimbe2018-...